@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base{
  @font-face {
    font-family: PopExbold;
    src: url('./font/PoppinsExtraBold.woff') format('woff');
  }
  @font-face {
    font-family: PopMed;
    src: url('./font/PoppinsMedium.woff') format('woff');
  }
  @font-face {
    font-family: PopBlack;
    src: url('./font/PoppinsBlack.woff') format('woff');
  }
  @font-face {
    font-family: PopBold;
    src: url('./font/PoppinsBold.woff') format('woff');
  }
  @font-face {
    font-family: PopLight;
    src: url('./font/PoppinsLight.woff') format('woff');
  }
  @font-face {
    font-family: PopSembold;
    src: url('./font/PoppinsSemiBold.woff') format('woff');
  }
}